.listItemContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0 25px;
}

.listItemIcon {
    position: absolute;
    right: 0;
}

.ant-list-item {
    padding: 8px 6px !important;
}